* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  flex: 1;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.navbar {
  background-color: #333;
  padding: 1rem;
  z-index: 1000;
  width: 100%;
  margin: 0;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navbar a {
  color: #b5b5b5;
  text-decoration: none;
}

.navbar a:hover {
  color: #fff;
  text-decoration: underline;
}

/* Styles de base pour les pages */
.home {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.services, .portfolio, .contact, .legal-notice {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  font-weight: bold;
}

/* Hero Section */
.hero-section {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(120, 119, 119, 0.5);
}

.hero-content {
  position: relative;
  z-index: 1;
  height: 30%;
}

.hero-content h2 {
  font-size: 65px;
  font-weight: bold;
}

/* Styles personnalisés en plus de Bootstrap */
.nav-link {
  color: rgba(255, 255, 255, 0.7) !important;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: white !important;
}

.active-link {
  color: white !important;
  text-decoration: underline !important;
  font-weight: bold;
}

.active-brand {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7) !important;
}

/* Services section */
.services-section {
  padding: 5rem 0;
}

.modal-content {
  background-color: #2a2a2a;
  color: #fff;
  box-shadow: 0 0 5px 0 rgba(111, 111, 111, 0.618);
  text-align: left;
}

#link-name {
  font-size: 20px;
  color: rgb(0, 128, 255);
}

#link-name:hover {
  color: rgb(0, 195, 255);
}

/* Style pour les icônes de réseaux sociaux */
.social-icon {
  transition: opacity 0.3s ease;
  color: #616161 !important;
}

.social-icon:hover {
  opacity: 1;
  color: #9e9e9e !important;
}

.footer-link {
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #cccccc !important;
  text-decoration: none;
}
